@model WebApp.Models.UploadedFileModel.UploadedFile;
@{
    var type = ViewBag.type;
}
<h1>@Model.FileName</h1>

<video id = "video-player"
       data-filename="@Model.FileName" 
       data-userid="@Model.UserId" 
       data-filepath="@Url.Content(Model.FilePath.Replace("\\", "/"))"
       @* src= "@Model.FilePath" *@
       width="640" height="360" preload="auto" controls>
</video><br>


<button id="resetBtn" style="margin-bottom: 10px">Reset</button>

<ul id="filters" class="filter-list">
    <li class="filter-item" data-filter="grayscale">
        <label>Grayscale</label>
        <input type="range" min="0" max="100" value="0" step="1">
    </li>
    <li class="filter-item" data-filter="brightness">
        <label>Brightness</label>
        <input type="range" min="50" max="200" value="100" step="1">
    </li>
    <li class="filter-item" data-filter="blur">
        <label>Blur</label>
        <input type="range" min="0" max="10" value="0" step="0.1">
    </li>
</ul>

<label>Start:</label>
<div class="time-input" style="gap: 5px;display: flex;">
    <input id="startHour" type="number" min="0" value="0" style="width: 50px;text-align: center">h
    <input id="startMinute" type="number" min="0" max="59" value="0" style="width: 50px;text-align: center">m
    <input id="startSecond" type="number" min="0" max="59" value="0" style="width: 50px;text-align: center">s
</div>

<label>End:</label>
<div class="time-input" style="margin-bottom: 10px;gap: 5px;display: flex;">
    <input id="endHour" type="number" min="0" value="0" style="width: 50px;text-align: center">h
    <input id="endMinute" type="number" min="0" max="59" value="0" style="width: 50px;text-align: center">m
    <input id="endSecond" type="number" min="0" max="59" value="0" style="width: 50px;text-align: center">s
</div>

<button id="trimBtn" style="margin-bottom: 10px">Clips</button>
<button id="transBtn" style="margin-bottom: 10px">Transcoding</button>

<a id="downloadLink" style="display:none" download="video.mp4">Download video</a><br>
<video id="previewVideo"  width="640" height="360" controls ></video>

@section Scripts{
    <script src="https://unpkg.com/@@ffmpeg/ffmpeg@0.11.6/dist/ffmpeg.min.js"></script>
    <script type="module" src="~/js/video-editor.js"></script>
}