@{
    ViewData["Title"] = "ViewData Test Redirect";
}

<h1>ViewData Test</h1>
<h2>ViewData1: @ViewData["vd1"]</h2>
<h2>ViewData2: @ViewData["vd2"]</h2>

<h2>ViewBag1: @ViewBag.vb1</h2>
<h2>ViewBag2: @ViewBag.vb2</h2>

<h2>TempData1: @TempData["temp1"]</h2>
<h2>TempData2: @TempData["temp2"]</h2>


<form asp-action = "TwoRedirect" method="get">
    <button type="submit"> Redirect To Next Action</button>
</form>