@model dynamic
<div class="mb-3 d-flex justify-content-between align-items-center">
    <div>
        <!-- 改為按鈕並設定要載入的 URL -->
        <button type="button" class="btn btn-primary open-create-modal"
                data-url="@Url.Action("CreatePartial", "Transaction", new { uid = @Model.uid, page = @Model.page })">
            <i class="bi bi-plus-circle"></i> Add
        </button>
    </div>

    <div class="btn-group">
        <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Export
        </button>
        <ul class="dropdown-menu">
            <li>
                <button type="submit" class="dropdown-item" formaction="@Url.Action("ExportTransactionToExcel", "ImportExport")">Excel</button>
            </li>
            <li>
                <button type="submit" class="dropdown-item" formaction="@Url.Action("ExportTransactionPDF", "ImportExport")">PDF</button>
            </li>
        </ul>
    </div>
</div>